.main{
    height:850px;
    width:700px;
    margin: 0 auto;
    background-color: white;
    border-radius:10px ;
}
.garden{
    background-color: #d4d9d6;
    height:485px;
    width:485px;
    margin: 0 auto;
    margin-top:40px;
    border-radius:10px ;
    margin-bottom: 60px;
      
}
body {
    background-image: url('slike/ba.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.naslov{
    margin: 0 auto;
    height: 150px;
    width: 550px;
    margin-top: 100px;
    padding-top: 20px;
}
.button {
    background-color: #04AA6D; 
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
